mixin github-watch
    a(href="https://github.com/buildbot/buildbot/")
        img(src="https://img.shields.io/github/watchers/buildbot/buildbot.svg?style=social&label=Watch")

mixin github-fork
    a(href="https://github.com/buildbot/buildbot/")
        img(src="https://img.shields.io/github/forks/buildbot/buildbot.svg?style=social&label=Fork")

mixin pypi-version-badge
    a(href="https://pypi.python.org/pypi/buildbot")
        img(src="https://img.shields.io/pypi/v/buildbot.svg")

mixin python-version-badge
    img(src="https://img.shields.io/badge/python-2.7%7C3.5%7C3.6%7C3.7-green.svg")

mixin codecov-badge
    a(href="https://codecov.io/github/buildbot/buildbot?branch=master")
        img(src="https://codecov.io/github/buildbot/buildbot/coverage.svg?branch=master")
mixin doc-badge
    a(href="https://docs.buildbot.net")
        img(src="https://readthedocs.org/projects/buildbot/badge/?version=latest")

mixin twitter
    iframe(allowtransparency="true",frameborder="0",scrolling="no",
        src="https://platform.twitter.com/widgets/tweet_button.1362636220.html#_=1362904126336&count=horizontal&hashtags=buildbot&id=twitter-widget-0&lang=en&size=m&text=Buildbot&url=http%3A%2F%2Fbuildbot.net",
        class="twitter-share-button twitter-count-horizontal",
        style="width: 107px; height: 20px;",title="Twitter Tweet Button",data-twttr-rendered="true")
