include navbar
include carousel
include buttons
include triptych
include subpage
doctype html
html.no-js(xmlns:ng='http://angularjs.org', xmlns:app='ignored')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Buildbot
    link(rel='shortcut icon' type='image/png' href='/img/icon.png')
    meta(name='description', content='Buildbot - The Continuous Integration Framework')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(href="styles.css", rel="stylesheet")
  body
    // navbar
    +navbar-logo("Buildbot","navbar", "inverse", "https://buildbot.net", "img/nut.svg")
        +nav_item_dropdown("#")(label="Discover Buildbot")
            +nav_item("index.html#basics") Buildbot Basics
            +nav_item('index.html#automation') Automated Build, Test, and Release
            +nav_item('index.html#framework') A Framework with Batteries Included
            li.divider
            +nav_item('about.html') About Us
            +nav_item('contact.html') Contact
            li.divider
            +nav_item('https://github.com/buildbot/buildbot/wiki/SuccessStories') Success stories
            +nav_item('https://github.com/buildbot/buildbot/wiki/Press') Press
            +nav_item('https://buildbot.buildbot.net') Metabuildbot: Buildbot's Buildbot
        +nav_item_dropdown("#")(label="Get Started")
            +nav_item('http://buildbot.net/buildbot/docs/current/tutorial/') Follow the Tutorial
            +nav_item('http://buildbot.net/buildbot/docs/current/index.html') Read the Docs
            +nav_item('http://docs.buildbot.net/current/manual/installation/installation.html') Download and Install
            li.divider
        +nav_item_dropdown("#")(label="Get Involved")
            +nav_item('https://lists.buildbot.net/mailman/listinfo') Join the Mailing List
            +nav_item('https://web.libera.chat/?channels=#buildbot') ..or #buildbot on IRC
            li.divider
            +nav_item('http://github.com/buildbot/buildbot') Get the Source
            +nav_item('http://docs.buildbot.net/current/developer/tests.html#quick-start') Get Started Hacking
            +nav_item('http://github.com/buildbot/buildbot/issues') File or Fix a Bug
        +nav_item("https://medium.com/buildbot") Blog
    block content
