extends _include/layout

block content
    .container-fluid
      .row
        .col-xs-4
            img(src="img/nut.svg", style="width:90%")
        .col-xs-8
            :marked
                About Us
                ========
                Buildbot is an open-source application originally written by Brian Warner, and now maintained by Dustin J. Mitchell.
                It is used to build, test, and release a [wide variety](https://github.com/buildbot/buildbot/wiki/SuccessStories) of software.

                Community
                ---------

                As an open source project, Buildbot welcomes all potential users and contributors.
                Contributions come from individual users and from well-known companies.
                We have participated in the Google Summer of Code since 2011, and host sprints (multi-day programming sessions) at PyCon every year.
                The \#buildbot IRC channel is an active and positive communication channel, as is the mailing list.
                This environment has encouraged a broad developer community, with 71 contributors committing code in the last year alone, and many more offering advice and support to other users.

                Governance and Organization
                ---------------------------

                Buildbot is a member project of the [Software Freedom Conservancy](http://sfconservancy.org/).
                Conservancy is a non-profit public charity that provides a range of financial and administrative services to member projects that develop Free, Libre, and Open Source Software (FLOSS).
                Conservancy's assistance allows software developers and documenters to focus on those activities exclusively.

                As a member project of Conservancy, Buildbot obtains the benefits of a formal non-profit organizational structure while keeping the project focused on software development and documentation.
                Some benefits of joining Conservancy include the ability to collect donations, hold assets on behalf of the project, and some protection of the lead developers of the project from personal liability when engaging in the activities of the project.
                Software Freedom Conservancy, Inc. is a tax-exempt 501(c)(3) organization, incorporated in New York State.

                Buildbot is governed by a Buildbot Operating Committee, know as the "Botherders".
                Day-to-day development operates by normal open-source processes of patch submission, open discussion, and code review.

                License
                -------

                The software is licensed under version 2 of the GNU Public License.
