extends layout/layout-pages
block hero
    h1 Community and support
    p
       | Buildbot has a vibrant community dedicated to improve the quality of the tool
block text
    | Buildbot is made by professionals and enthousiasts from all over the world, there is always somebody to help.
    h3 IRC
    p
        a(href="http://freenode.net") #buildbot on freenode
    h3 Mailing-list
    p
        | you can subscribe to the medium trafic
        a(href="#")  mailing list
    h3 Google+
    p
        | There is a google+
        a(href="#")  community
