extends _include/layout

block content
    .container-fluid
      .row
        .col-xs-4
            img(src="img/nut.svg", style="width: 90%")
        .col-xs-8
            :marked
                Contact Us
                ==========

                In The Open
                -----------

                As an open source project, most communication about Buildbot is done in the open:

                 * The [buildbot mailing list](https://lists.buildbot.net/mailman/listinfo/users)
                 * The [#buildbot](https://web.libera.chat/?channels=%23buildbot) IRC channel on Libera.chat
                 * The [project organization](https://github.com/buildbot) on Github
                 * The Buildbot [issue tracker](https://github.com/buildbot/buildbot/issues)

                For Security Issues
                -------------------

                If you have a discovered a security-related issue in Buildbot, please see the [ReportingVulnerabilities](https://github.com/buildbot/buildbot/wiki/ReportingVulnerabilities) page for the project's disclosure process.

                For Private Matters
                -------------------

                For other matters which absolutely cannot be handled in the open, you may contact the maintainer, Dustin J. Mitchell, directly at dustin@v.igoro.us.
