extends layout/layout-pages
block hero
  h1 Continuous Integration
  p
   | is a software technique whose goal is to
   strong  accelerate development
   |  by continuously integrating contributions from developers
   | into the mainline
block text
  :markdown
        Please see [the wikipedia](http://en.wikipedia.org/wiki/Continuous_integration "wikipedia article for continuous integration") article
        for more information about continous integration
