extends layout/layout
include include/buttons
include include/triptych
include include/subpage

block content
    .container-fluid
        .span4
            img(src="img/nut.png", style="width: 90%")
        .span8
            :markdown
                Contact Us
                ==========

                In The Open
                -----------

                As an open source project, most communication about Buildbot is done in the open:

                 * The [buildbot-devel mailing list](https://lists.sourceforge.net/lists/listinfo/buildbot-devel)
                 * The #buildbot IRC channel on Freenode
                 * The [project organization](http://github.com/buildbot) on Github
                 * The Buildbot [issue tracker](http://trac.buildbot.net)

                For Security Issues
                -------------------

                If you have a discovered a security-related issue in Buildbot, please see the [ReportingVulnerabilities](http://trac.buildbot.net/wiki/ReportingVulnerabilities) page for the project's disclosure process.

                For Private Matters
                -------------------

                For other matters which absolutely cannot be handled in the open, you may contact the maintainer, Dustin J. Mitchell, directly at dustin@v.igoro.us.
