extends layout/layout-pages
block hero
  h1 Framework
  p
   | Unlike other Continuous Integration tools, buildbot gives you a framework to build your own process
  p
   strong Your workflow
   |  is shaping the tool, and not the other way around
block text
  | blabla