extends layout/layout-pages
block hero
  h1 Framework
  p
    | Buildbot is a framework in which
    strong  you
    |  can implement a system that matches
    strong  your workflow
    |  and grows with your organization.
block text
  :markdown
    Web frameworks such as Django or Rails provide the structure and components to build websites.
    Buildbot provides the structure and components for building continous integration systems.

    Many CI tools, such as [CruiseControl](http://cruisecontrol.sourceforge.net/gettingstarted.html) or [Jenkins](https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins), are structured as ready-to-use applications.
    Users fill in specific details, such as version control information and build process, but the fundamental design is fixed and options are limited to those envisioned by the authors.
    This arrangement suits the common cases quite well: there are cookie-cutter tools to automatically build and test Java applications, Ruby gems, and so on.
    Such tools embody assumptions about the structure of the project and its processes.
    They are not well-suited to more complex cases, such as mixed-language applications or complex release tasks, where those assumptions are violated.
