extends _include/layout

block content
  .ribbon-holder.right.hidden-phone
      a.ribbon.red(href="https://github.com/buildbot/buildbot")
          span.text Fork me on GitHub!
  header.jumbotron.subhead
    .container
      img(alt=name, src="img/full_logo.svg", style="margin-bottom: 20px")
    .bs-docs-social
      .container
        ul.bs-docs-social-buttons
          li: +github-watch
          li: +github-fork
          li: +pypi-version-badge
          li: +python-version-badge
          li: +codecov-badge
          li: +doc-badge
          li: +twitter
  .container.subpage
    +carousel('main', 3)
      +carousel-panel(0)
       img(src="img/screenshoot1.png")
       .carousel-caption
        h3 Buildbot Basics
        p.
          Buildbot is an <strong>open-source</strong> framework for automating
          software build, test, and release processes.
        a.btn.btn-primary(href="#basics") Learn more

      +carousel-panel(1)
       img(src="img/screenshoot2.png")
       .carousel-caption
        h3 Automated Build, Test, and Release
        p Buildbot can automate all aspects of the software development cycle:
        p
          | Continuous Integration,
          | Continuous Deployment,
          | Release Management
        p ..and any other process you can imagine.
        a.btn.btn-primary(href="#automation") Learn more

      +carousel-panel(2)
       img(src="img/screenshoot3.png")
       .carousel-caption
        h3 A Framework with Batteries Included
        p.
          Buildbot is a framework in which <strong>you</strong>
          implement a system that matches <strong>your workflow</strong>
          and grows with your organization.
        a.btn.btn-primary(href="#framework") Learn more

  +subpage("dark", "basics")
    h1 Discord
    p
      | We have started a new Discord server for users and developers:
      a(href="https://discord.gg/AMXBDUBTZV")  Invite Link
      | .

    h1 Buildbot Basics

    p.well.
      Buildbot supports distributed, parallel execution of jobs across multiple platforms, flexible integration with version-control systems, extensive status reporting, and more.

    img(src="img/overview.png").pull-right.shadow
    h2 Buildbot in Action
    p.
      At its core, Buildbot is a job scheduling system: it queues jobs, executes the jobs when the required resources are available, and reports the results.

    p.
      Your Buildbot installation has one or more masters and a collection of workers.
      The masters monitor source-code repositories for changes, coordinate the activities of the workers, and report results to users and developers.
      Workers run on a variety of operating systems.

    p.
      You configure Buildbot by providing a Python configuration script to the master.
      This script can be very simple, configuring built-in components, but the full expressive power of Python is available.
      This allows dynamic generation of configuration, customized components, and anything else you can devise.

    p.
      The framework itself is implemented in Twisted Python, and compatible with all major operating systems.

    h2 Learn More
    p
      | See the
      a(href="https://docs.buildbot.net/current/tutorial/")  Buildbot Tutorial
      |  for a gentle introduction to running and configuring Buildbot.

  +subpage("light", "automation")
    .col-xs-3
      img(src='img/arrows_3_circular_interlocking.svg', style="width:90%")
    .col-xs-9
      h1 Automated Build, Test, and Release
      p.well.
        Buildbot supports not just continuous-integration testing, but automation of complex build systems, application deployment, and management of sophisticated software-release processes.

      h2 Benefits of Automation
      :marked
        When software development processes are automated, they are repeatable, reliable and can be run as frequently as available computing resources allow.

        Automating the build and test process gives developers immediate feedback on their work.
        Tests can run on multiple platforms, ensuring that code changes made on one platform do not cause failures on other platforms.

        Once a project is ready for use by users, it is either deployed (for hosted applications, such as web sites) or released (for packaged software such as desktop applications).

        Automating deployment makes the process predictable and lowers the risk involved with each push.
        Changes can be deployed to a staging environment first, then deployed to production using exactly the same procedure, eliminating failures due to human error.
        Deployments can occur many times every day, with only small changes between each deployment.

        Releasing packaged software, too, benefits from automation.
        The process can involve compiling and packaging on multiple platforms, signing builds, localizing strings, quality-assurance checks, and so on.
        When automated with a tool like Buildbot, all of this occurs repeatably and efficiently.

  +subpage("dark", "framework")
    .col-xs-9
      h1 A Framework with Batteries Included

      p.well.
        Just as web frameworks such as Django or Rails provide the structure and components to build websites,
        Buildbot provides the structure and components to automate your build, test, and release processes.

      :marked
        Many CI tools, such as [CruiseControl](https://cruisecontrol.sourceforge.net/gettingstarted.html) or [Jenkins](https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins), are structured as ready-to-use applications.
        Users fill in specific details, such as version control information and build process, but the fundamental design is fixed and options are limited to those envisioned by the authors.
        This arrangement suits the common cases quite well: there are cookie-cutter tools to automatically build and test Java applications, Ruby gems, and so on.
        Such tools embody assumptions about the structure of the project and its processes.
        They are not well-suited to more complex cases, such as mixed-language applications or complex release tasks, where those assumptions are violated.

        Buildbot's design allows your installation to grow with your requirements, beginning with simple processes and growing to meet your unique needs.
        This flexibility has led to its use in a number of high-profile open-source projects, including [WebKit, Python, and Twisted](https://github.com/buildbot/buildbot/wiki/SuccessStories).

    .col-xs-3
      img(src="img/nut.svg", style="width:90%")
