extends layout/layout
include include/buttons
include include/triptych
block content
  // fluid container
  a.github-ribbon(href="http://github.com/buildbot/buildbot")
      | Fork me on GitHub!
  header.jumbotron.subhead
    .container
      h1 Buildbot
      p.lead The Continuous Integration Framework
    .bs-docs-social
      .container
        ul.bs-docs-social-buttons
          li: +github-watch
          li: +github-fork
          li: +twitter
          li: +plus
  .container
    +triptych
      +triptych-panel
        h3 Buildbot
        p.
          Buildbot is an <strong>open-source</strong> framework for building
          continuous integration systems, based on Twisted Python.
        p.
          It supports parallel execution of jobs across multiple platforms,
          flexible integration with version-control systems, extensive status
          reporting, and more.
        a.btn.btn-primary(href="basics.html") Learn more

      +triptych-panel
        h3 Continuous Integration
        p.
          Buildbot supports <strong>continuous integration</strong> - building
          and testing on each commit; <strong>continuous deployment</strong> -
          deploying automatically on each commit; <strong>release
          management</strong> - building and packaging applications for users;
          and any process you implement.
        a.btn.btn-primary(href="continuous-integration.html") Learn more

      +triptych-panel
        h3 Framework
        p.
          Buildbot is a framework in which <strong>you</strong>
          implement a system that matches <strong>your workflow</strong>
          and grows with your organization.
        a.btn.btn-primary(href="framework.html") Learn more

