extends layout/layout-pages
block hero
    h1 Success stories
    p
       | Buildbot is used by a wide range of teams
block text

    h3 Mozilla
    p
        | blabla

    h3 Twisted-labs
    p
        | blabla

    h3 Intel Mobile-Android team
    p
        | One buildbot master is controlling over ~70 build slaves, and ~140 buildbot-managed phones and tablets for running automated tests
    p
        | The system is implementing a gated-commit process able to safely and automatically merge ~400 patches a week
